.wrapper() {
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 1390px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
